@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background: url("../_img/capa.png");
    background-attachment: fixed;
    overflow-x: hidden;
}

.imgSolucao{
    max-width: 720px;
    max-width: 720px;
}

.container{
    background-color:  white;
    position: relative;
    border: 2px solid black;
    margin-bottom: 80px;
}

.texto-solucao{
    margin-bottom: 2%;
}

h1{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;

}

.btn{
    margin: 0 5px;
    width: 30vh;
    border: 2px solid white !important;
}

.btn-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999; 
    display: flex; /* Adiciona flexbox para alinhar horizontalmente os botões */
    justify-content: center; /* Alinha os botões horizontalmente no centro */
}