@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background: url("../_img/capa.png");
    background-attachment: fixed;
    overflow-x: hidden;
	background-repeat: repeat;
	background-size: 150%;
}

html, body, .capa{
	height: 100%;
}

.capa {
	display: table;
	width: 100%; 
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

.btn-custom{
	background-color: rgb(137,211,64);
	color: white;
	font-family: 'Montserrat', sans-serif;
	border: 1px solid white;
}

.btn-custom:hover{
	background-color: #181f25;
    color: white;
}

#Atendimento{
    background-color: rgb(137,211,64);
	height: 100%;
	width: 100%; 
	border: 2px solid white;
}

h2{
	color: white;
	text-align: center;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	
}

.main-btn{
    border: 1px solid rgb(255, 255, 255);
	background-color: rgb(12,105,132);
	color: rgb(255, 255, 255);
	font-family: 'Montserrat', sans-serif;
	font-size: 8pt;
	width: 20px;
	min-height: 100px;
	text-align: center;
	margin-bottom: 10px;
	--bs-btn-hover-bg: rgb(83,173,182);
	--bs-btn-active-bg: rgb(9, 123, 158);
	--bs-btn-hover-border-color: white;
}
.sub-btn{
    border: 1px solid rgb(255, 255, 255);
	background-color: rgb(12,105,132);
	color: rgb(255, 255, 255);
    width: 128px;	
	--bs-btn-hover-bg: rgb(83,173,182);
	--bs-btn-active-bg: rgb(9, 123, 158);
	--bs-btn-hover-border-color: white;
}

