@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background: url("../_img/capa.png");
    background-attachment: fixed;
    overflow-x: hidden;
}

.list-group{
--bs-list-group-active-color: white;
--bs-list-group-active-bg: #53adb6;
--bs-list-group-active-border-color: white;
}


html, body, .capa{
	height: 100%;
}

.capa {
	display: table;
	width: 100%; 
}

h1{
	font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: -0.05em;
}

.btn-custom{
	background-color: rgb(137,211,64);
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.btn-custom:hover{
	background-color: #181f25;
}

.btn-opcoes{
	border: 1px solid rgb(255, 255, 255);
	background-color: rgb(12,105,132);
	color: rgb(255, 255, 255);
	min-width: 100px;
	min-height: 111px;
	text-align: center;
	margin-bottom: 10px;
}


.btn-opcoes-n2{
	min-width: 120px !important;
}

.btn-opcoes:hover{
	border: 1px solid rgb(12,105,132);
	background-color:  rgb(255, 255, 255);
	color: rgb(12,105,132);
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

#Atendimento{
    background-color: rgb(137,211,64);
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100%;
	width: 100%; 
}

#itensMenu{
    width: 100%;
	margin-top: 4%;
}

.img-erro{
	border: 2px solid rgb(12,105,132);
}
